html{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkqw0TNlQKH28FxHtauWWUFbn62Qonzco_Atpl3hupdLOZiFX7VYuaneMuL6Pdh4a8sdw:https://ntvb.tmsimg.com/assets/p8659340_b_h8_ad.jpg%3Fw%3D960%26h%3D540&usqp=CAU);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: red;
}